//- default
doctype html 
html(lang="ko")
    head 
    body 
        title #{pageTitle} | #{siteName}

        <link rel="stylesheet" href="https://unpkg.com/mvp.css">

        #nav 
            ul 
                li
                    a(href="/")="HOME"
                
                if loggedIn 
                    li  
                        a(href="/user/edit")="Edit Profile"
                    li  
                        a(href="/user/logout")="LOGOUT"
                    li 
                        a(href=`/user/${loggedInUser._id}`)=`${loggedInUser.name}'s profile`
                    li
                        a(href="/videos/upload")="UPLOAD?"
                else
                    li
                        a(href="/join")="JOIN"
                    li
                        a(href="/login")="LOGIN"

                li
                    a(href="/search")="SEARCH"
                

        #main
            block content

    include ../includes/footer.pug