extends default.pug 

block content
    #edit
        if loggedInUser.avatarUrl
            img(src="/" + loggedInUser.avatarUrl)
        
        form(method="POST", enctype="multipart/form-data")
            label(for="avatar") Avatar
            input(type="file" id="avatar" name='avatar' accept="image/*")
            
            input(name="email", type="text", required, placeholder="email" value=loggedInUser.email)
            input(name="username", type="text", required, placeholder="username" value=loggedInUser.username)
            input(name="name", type="text", required, placeholder="name" value=loggedInUser.name)
            input(name="location", type="text", required, placeholder="location" value=loggedInUser.location)
            input(type="submit", value= "Update Profile", placeholder="submit" )
            if ErrorMessage
                span=ErrorMessage

            if  !loggedInUser.socialOnly
                br
                a(href="change-password") ChangePassword &rarr;
        